<%- include('partials/header') -%>
<%- include('partials/nav') -%>  

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="https://coding.rexarmy.de">RexArmy-Coding Community</a></li>
        </ol>
        <h2>Frage nicht, um zu fragen, frage einfach!</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="regelwerk">
      <div class="container">
        <p>
          <h2> Frage nicht, um zu fragen, frage einfach!</h2><br>
      
          <h6>➥ Hin und wieder taucht in Online-Chaträumen, in denen ich mich herumtreibe, jemand auf und sagt etwas in der Art von,</h6><br>
          
          <h6 class="discord-title"><p>Rexy: Gibt es hier Java-Experten?</p></h6><br>

          <h6>➥ Dies ist aus mehreren Gründen ein schlechter Stil. Was die Person hier <i>eigentlich</i> fragt, ist,</h6><br>
         
          <h6 class="discord-title"> Rexy: Gibt es hier irgendwelche Java-Experten, die bereit sind, sich meinem Problem zu widmen, was auch immer das sein mag, auch wenn es eigentlich nichts mit Java zu tun hat, oder wenn jemand, der nichts über Java weiß, meine Frage tatsächlich beantworten könnte?</h6><br>

          <h6>➥ Es gibt viele Gründe, warum Leute, die das Wissen haben, es nicht zugeben würden. Indem Sie fragen, bitten Sie um mehr als das, was Sie denken, dass Sie fragen.</h6><br>

          <h6>➥ Sie verlangen von den Leuten, dass sie Verantwortung übernehmen. Sie stellen das Vertrauen der Menschen in ihre Fähigkeiten in Frage. Sie grenzen auch unnötigerweise andere Leute aus. Ich beantworte oft Fragen, die sich auf Sprachen oder Bibliotheken beziehen, die ich noch nie benutzt habe, weil die Antworten (auf eine Art von Programmierer) gesunder Menschenverstand sind</h6><br>

          <h6>Alternativ kann es auch als...</h6><br>

          <h6 class="discord-title"> Rexy: Ich habe eine Frage zu Java, aber ich bin zu faul, sie in Worte zu fassen, es sei denn, es gibt jemanden im Kanal, der sie vielleicht beantworten kann</h6><br>

          <h6>...was einfach nur faul ist. Wenn Sie nicht bereit sind, sich die Arbeit zu machen, um Ihr Problem zu lösen, warum sollten wir es dann tun?</h6><br>

          <h6>➥ Die Lösung ist, nicht zu fragen, um zu fragen, sondern einfach zu fragen. Jemand, der im Leerlauf auf dem Kanal sitzt und nur ab und zu einen Blick auf das Geschehen wirft, wird wahrscheinlich nicht auf Ihre "Fragen, um zu fragen"-Frage antworten, aber Ihre eigentliche Problembeschreibung kann sein Interesse wecken und ihn dazu bringen, zu antworten.</h6><br>

          <h6>➥ Also, um es zusammenzufassen, fragen Sie nicht "Gibt es hier Java-Experten?", sondern fragen Sie lieber "Wie mache ich [Problem] mit Java und [andere relevante Informationen]?"</h6><br>
      </div>
    </section>

  </main><!-- End #main -->


<%- include('partials/footer') -%>
