<%- include('partials/header') -%>
<%- include('partials/nav') -%>  


  <!-- ======= Hero Section ======= -->
   <section id="hero" class="d-flex flex-column justify-content-center">
    <!--<marquee width="100%" direction="left" height="100px">
      BREAKING NEWS +++ RexArmy wurde gehackt +++ Wir informieren im Live Ticker auf unserem Blog +++ Gründe dafür sind noch unklar +++ BREAKING NEWS +++ RexArmy wurde gehackt +++ Wir informieren im Live Ticker auf unserem Blog +++ Gründe dafür sind noch unklar +++ BREAKING NEWS +++ RexArmy wurde gehackt +++ Wir informieren im Live Ticker auf unserem Blog +++ Gründe dafür sind noch unklar +++
    </marquee>-->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1 id="start-title">RexArmy.ch - Startseite</h1>
          <h2 id="start-untitle">Deutsche Gaming Community</h2>
          <iframe id="iframe-id" width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=UCh4VTxoTL79TpMBg3yBqSPQ" frameborder="0" autoplay="0" allowfullscreen style="display:none;"></iframe>

          <a id="playbtn" href="https://www.youtube.com/watch?v=n6Vqb6Gq_y8&t=27s" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
  
   <!-- ======= Team Section ======= -->
      <section id="ceo" class="ceo">
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Die Serverleitung</h2>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/rexy.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4 id="rexy-title">Rexy</h4>
                <span>Founder & Management</span>
                <div class="social">
                  <a href="https://www.youtube.com/RexGaming100" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
                  <a href="https://www.twitch.tv/rexhdlive" target="_blank" class="twitch"><i class="bx bxl-twitch"></i></a>
                  <a href="https://twitter.com/Rex_HD_" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://www.instagram.com/rex_hd100/?hl=de" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="https://www.instagram.com/rex_hd100/?hl=de" target="_blank" class="reddit"><i class="bx bxl-reddit"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/tentabro.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4 id="toxy-title">Toxy</h4>
                <span>Founder & Development</span>
                <div class="social">
                  <a href="https://www.youtube.com/channel/UCD2X1NPG9Ti1b5rxBuL3qmQ" target="_blank" class="youtube"><i class="bx bxl-youtube"></i></a>
                  <a href="https://twitter.com/KaiserYao" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://instagram.com/its_toxy_" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="https://github.com/kaiseryao" target="_blank" class="github"><i class="bx bxl-github"></i></a>
                  <a href="https://yaokaiser.ch" target="_blank" class="website"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
	
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Features</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-user-plus' ></i></div>
              <h4><a href="">Schliesse neue Freundschafften</a></h4>
              <p>Durch unsere Vielfalt an Spielen sollte es dir leicht gelingen neue Freundschaften zu schliessen.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class='bx bxs-user-voice' ></i></div>
              <h4><a href="">Voice Channels</a></h4>
              <p>Erstelle deinen eigenen Voice-Channel den du nach deinen Wünschen konfigurieren kannst. Es finden neu auch regelmässig Debatten statt, wo wir über aktuelle politische Themen diskutieren.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-cool'></i></div>
              <h4><a href="">Du hast die Macht</a></h4>
              <p>Durch unsere "Self-Roles" kannst du die für dich spezialisierte Rollen zuteilen, um dir exklusive Channel freizuschalten.</p>
            </div>
          </div>


      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Wir brauchen <b>DICH!</b></h3>
            <p> Trete noch heute dem RexArmy Discord-Netzwerk bei und werde somit teil des RA-Networks!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
          <a href="https://dc.RexArmy.ch" class="get-started-btn scrollto" target="_blank">Jetzt Beitreten</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->



    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Unterstütze uns!</h2>
          <p><b>Vielen Dank!</b> Jeder Euro lässt die RexArmy länger bestehen bleiben und wir können schneller und besser liefern. Zusätzlich profitierst du von exklusiven Features und bekommst Vorabzugriff auf unsere Projekte.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box">
              <h3>🤖(Sakumo) Bot Supporter</h3>
              <h4><sup>$</sup>5<span> / Monat</span></h4>
              <ul>
                <li>In der Bot-Supporter Liste auf RexArmy.ch</li>
                <li>Deine Bot Vorschläge werden priorisiert</li>
                <li>Bot-Supporter Rang auf Discord</li>
                <li class="na">Auf den Mond fliegen</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://www.patreon.com/join/RexHD/checkout?rid=5928442" class="btn-buy">Abonnieren</a>
                <p class="pn">Du wirst zu Patreon weitergeleitet</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended">
              <span class="recommended-badge">Beliebt</span>
              <h3>🚀App Supporter</h3>
              <h4><sup>$</sup>5<span> / Monat</span></h4>
              <ul>
                <li>In der App-Supporter Liste auf RexArmy.ch</li>
                <li>Beta zugriff auf neue Inhalte & wirst eben so einen Beta Key bekommen um die App vorab zu Testen.</li>
                <li>Ich baue womöglich Vorschläge von dir in die App</li>
                <li>App-Supporter Rang auf Discord</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://www.patreon.com/join/RexHD/checkout?rid=4320762" class="btn-buy">Abonnieren</a>
                <p class="pn">Du wirst zu Patreon weitergeleitet</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box">
              <h3>🌟Community Supporter🌟</h3>
              <h4><sup>$</sup>8<span> / Monat</span></h4>
              <ul>
                <li><b>Alles von den vorherigen Supportern!</b></li>
                <li>Die Möglichkeit mit uns zu Chillen</li>
                <li>Zugriff auf die Vibe Zone</li>
                <li>Exklusiven Mindlab & Rexy Inhalt</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://www.patreon.com/join/RexHD/checkout?rid=6018568" class="btn-buy">Abonnieren</a>
                <p class="pn">Du wirst zu Patreon weitergeleitet</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Faq Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
                Die häufig gestellten Fragen
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-toggle="collapse" class="collapse" href="#accordion-list-1">Was ist die RexArmy? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                    <p>
                      RexArmy entstand einst aus einem Minecraft Server Netzwerk. Heute führen wir unter dem Namen einige Projekte, darunter auch unser Discord Server RA Coding Community. Mehr findet ihr auf der Projekt-Seite.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#accordion-list-2" class="collapsed">Ist der Discord Server etwas für mich?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                    <p>
                      Der Fokus auf unserem Hauptserver RexArmy.ch liegt vorallem im Gaming Bereich. Für alle Coding-Interessierten haben wir den Server RA Coding Community eröffnet. 
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Faq Section -->


  </main><!-- End #main -->
<%- include('partials/footer') -%>  
