<!DOCTYPE html>
<html>    
    <head>
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>RexArmy Links</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">   
        
        <link href="img/logo.jpg" rel="icon">        
    </head>

    <body>
        <link rel="stylesheet" href="/stylesheets/links.css">         
    
        <!-- Logo -->
        <img class="logo" src="img/logo.jpg">

        <span id="desc"></span>

        <h2>Angesagt</h2>
        <a href="https://rexarmy.ch/netiquette" target="_blank">Netiquette</a>
        <a href="https://rexarmy.ch" target="_blank">RexArmy Website</a>
        <a href="https://rexarmy.ch/application" target="_blank">Bewerben</a>
        <a href="https://rexarmy.ch/application" class"featured" target="_blank">RexStudios</a>

        <!-- Main Content -->
        <h2>Soziale Netzwerke</h2>
        <a href="https://www.youtube.com/channel/UCNgWGrnF-JZ72OECF3azZWw" target="_blank">YouTube</a>
        <a href="https://instagram.com/rexarmy.ch" target="_blank">Instagram</a>
        <a href="https://twitter.com/RexArmyDE" target="_blank">Twitter</a>
        <a href="https://dc.rexarmy.ch" target="_blank">Discord (Nekocity)</a>

        <!-- More Content -->
        <h2>Rechtliches</h2>

        <div class="channels">
            <a href="/impressum" target="_blank">Impressum</a>
            <a href="/datenschutz" target="_blank">Datenschutz</a>
        </div>

  <script src="script.js"></script>
    </body>
</html>