<%- include('partials/header') -%>
<%- include('partials/nav') -%>  

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Social Media</li>
        </ol>
        <h2>Netiquette</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="regelwerk">
      <div class="container">
        <p>
          <h2><u><b>Social Media Netiquette von RexArmy</b></u></h2><br>
          <h6>Es ist manchmal schwer, bei beispielsweise emotionalen Diskussionen sachlich zu bleiben, das verstehen wir. Trotzdem müssen wir Kommentare oder Beiträge die gegen folgende Regeln verstössen, kommentarlos löschen:</h6><br>
        
          <h4><u><b>Folgendes wird nicht toleriert</b></u></h4>
          <h6>➥ Hassrede, Beleidigungen und Diskriminierungen jeder Art von Personen oder Personengruppen</h6><br>
          <h6>➥ Selbstverletzende oder Suizidfördernde Inhalte</h6><br>
          <h6>➥ Fremd oder Eigenwerbung jeder Art</h6><br>
          <h6>➥ Schädliche oder nicht jugendfreie Links</h6><br>
          <h6>➥ allgemein Strafbare Inhalte</h6><br>
          <h6>➥ Hassrede, Beleidigungen und Diskriminierungen jeder Art von Personen oder Personengruppen</h6><br>
          <h6>➥ Politische Werbung oder Wahlempfehlungen</h6><br>
          <h6>➥ Pornographische Inhalte</h6><br>
          <h6>➥ Kommentare, die stark vom eigentlichen Thema abweichen</h6><br>
          <h6>➥ Falsche Informationen (Gerüchte, "Fake News")</h6><br>


          <h6><b>In besonderen Fällen kann es auch zu weiteren Sanktionen oder gar einer Anzeige kommen</b> 
          <br>~Die RexArmy Serverleitung</h6><br><br>
          
          <h6>Letzte Bearbeitung: <i>27.04.2021</i></h6><br><br><br>

        </p>
      </div>
    </section>

  </main><!-- End #main -->

<%- include('partials/footer') -%>  