<%- include('partials/header') -%>
<%- include('partials/nav') -%>  

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Team</li>
        </ol>
        <h2>Das Team</h2>

      </div>
    </section><!-- End Breadcrumbs -->



    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

    <!-- ======= Serverleitung ======= -->

        <div class="section-title">
          <h2>Inhaber</h2>
          <p></p>
        </div>

        <div class="row inh">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/rexy.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Rexy</h4>
                <span>Founder & Management</span>
                <div class="social inh">
                  <a href="https://www.youtube.com/RexGaming100" class="youtube"><i class="bx bxl-youtube"></i></a>
                  <a href="https://www.twitch.tv/rexhdlive" class="twitch"><i class="bx bxl-twitch"></i></a>
                  <a href="https://twitter.com/Rex_HD_" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://www.instagram.com/rex_hd100/?hl=de" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="https://www.reddit.com/user/Rex_HD100" class="reddit"><i class="bx bxl-reddit"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/tentabro.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Toxy</h4>
                <span>Founder & Development</span>
                <div class="social">
                  <a href="https://www.youtube.com/channel/UCD2X1NPG9Ti1b5rxBuL3qmQ" class="youtube"><i class="bx bxl-youtube"></i></a>
                  <a href="https://twitter.com/KaiserYao" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://instagram.com/its_toxy_" class="instagram"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="container" data-aos="fade-up">

        <!-- ======= Administration ======= -->

        <br><br>
        <div class="section-title">
        <section id="admin" class="admin">
          <h2>Administration</h2>
          <p></p>
        </div>

        <div class="row admin">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/1.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Phoenix</h4>
                <span>Besserwisser schlecht hin</span>
                <div class="social">
                  <a href="https://www.instagram.com/julianmuller278/?hl=de" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="https://www.reddit.com/u/Phoenix200569" class="reddit"><i class="bx bxl-reddit"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Not choosen</h4>
                <span>Administrator</span>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>
        
        </div>
        <div class="container" data-aos="fade-up">

        <!-- ============== Team ============== -->

        <br><br>
        <div class="section-title">
        <section id="team1" class="team1">
          <h2>Team</h2>
          <p></p>
        </div>

        <!-- ======= Moderator ======= -->
        <div class="row mod">

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Not choosen</h4>
                <span>Moderator</span>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Not choosen</h4>
                <span>Moderator</span>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>
        
        </div>


        <!-- ======= Content ======= -->
        <br>
    
        <div class="row content">

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Not choosen</h4>
                <span>Content</span>
                <div class="social">
                  <a href="https://www.instagram.com/josh.nizza/?hl=de" class="instagram"><i class="bx bxl-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Not choosen</h4>
                <span>Content</span>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>
        
        </div>
        
        <!-- ======= Development ======= -->
        <br>

        <div class="row develop">

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Not choosen</h4>
                <span>Developer</span>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Not choosen</h4>
                <span>Developer</span>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>
        
        </div>

        <!-- ======= Supporter ======= -->
        <br>

        <div class="row support">

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Not choosen</h4>
                <span>Supporter</span>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Not choosen</h4>
                <span>Supporter</span>
                <div class="social">
                  
                </div>
              </div>
            </div>
          </div>
        
        </div>

        <!-- ======= T´s ======= -->
        <br>
        <div class="row tester">

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>You?</h4>
                <span>T-Developer | T-Supporter...</span>
                <div class="social">
                  <a href="application" class="btn-more">Bewerben</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/clear.png" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>You?</h4>
                <span>T-Developer | T-Supporter...</span>
                <div class="social">
                  <a href="application" class="btn-more">Bewerben</a>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        <div class="container" data-aos="fade-up">


      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

<%- include('partials/footer') -%>
