<%- include('partials/header') -%>
<%- include('partials/nav') -%>  

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>RA Members</li>
        </ol>
        <h2>Was sind RA Members?</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
       
        <p class="mb-1">Als<span style="color: #00aeff;">游니<b>RA Member</b></span>맏ast du die M칬glichkeit mit anderen<span>游니</span><b>RA Membern</b>aufzunehmen, zu talken etc. zudem wirst du bei Projekten der RA dabei sein!</p>
        <h2><strong>Wir bieten dir:</strong></h2>
        <ul>
        <li>Freundliche und nette <span style="color: #00aeff;">游니<b>RA Member</b> </span></li>
        <li>Einblicke hinter den Kulissen</li>
        <li>Vorabzugriff auf neue Server</li>
        <li>Kontakt mit anderen<span style="color: #00aeff;">游니<b>RA Member</b> </span></li>
        <li>Einen Kanal Push</li>
        <li><span>Discord<span style="color: #00aeff;">游니<b>RA Member</b></span> Rang!</span></li>
        <li><span>Teamspeak <span style="color: #00aeff;">游니<b>RA Member</b></span> Rang!</span></li>
        <li><span>Teamspeak <span style="color: #00aeff;">游니<b>RA Member</b></span> Rang</span></li>
        <li>Auflistung auf unserer <a href="channels.html">Kan칛le-Liste</a></li>        
        <li>Den 游 <a href="#">RexusPass</a></li>
        </ul>
        <p></p>
        <h2><strong>Anforderungen</strong>:</h2>
        <ul>
        <li>Steche stark aus der Masse heraus.</li>
        <li>Mindestens 1맕eues Video pro Woche.</li>
        <li>Mindestens 20 Videos hochgeladen.</li>
        <li>Mindestens 1000 Abonnenten.</li>
        <li>Produziere 칛hnlichen Content wie die<span style="color: #00aeff;">游니<b>RA Member</b></span></li>
        </ul>
        <p></p>
        <p><span>Falls du Fragen hast, die nicht beantwortet werden konnten, schreibe맛ns einfach per E-Mail an und lass맛ns wissen, wie망ir dir helfen k칬nnen.</span></p>
        <p><span>Schreib맛ns einfach an unter:<strong><a href="mailto:info@rexarmy.de">info@rexarmy.de</a></strong></span></p>
        <br>
        <h2><strong>Du m칬chtest anders Mitwirken?</strong>:</h2>
        <p>Schau dir mal unsere <a href="https://rexarmy.de/#pricing">Unterst칲tzer</a>-Seite an. </p>
      </div>
    </section>

  </main><!-- End #main -->

<%- include('partials/footer') -%>
