  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <h1 id="ralogo" class="logo"><a href="/">RexArmy.ch</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li><a href="/#about">Über uns</a></li>
              <li><a href="/team">Team</a></li>
              <li><a href="/#faq">FAQ</a></li>
              <li class="drop-down"><a href="/member">RA Members</a>
                <ul>
                  <li><a href="/member">Was sind RA Members?</a></li>
                  <li><a href="/member/channels">Kanäle</a></li>
                </ul>
              <li class="drop-down"><a href="">Weiterleitungen</a>
                <ul>
                  <li><a href="https://rexarmy.ch/links" target="_blank">Links</a></li>
                  <li><a href="https://rexstudios.ch" target="_blank">RexStudios</a></li>
                  <li><a href="https://coding.rexarmy.ch" target="_blank">Coding Community</a></li>
                  <li><a href="https://sakumo.ywk.ch" target="_blank">SakumoBot</a></li>
                  <li><a href="https://rexstudios.ch/endlessspace">Endless Space</a></li>
                </ul>
              </li>

            </ul>
          </nav><!-- .nav-menu -->

          <a href="http://dc.rexarmy.ch" class="get-started-btn scrollto" target="_blank" id="jetzt-beitreten-btn">Jetzt Beitreten</a>

          <a href="https://www.youtube.com/channel/UCh4VTxoTL79TpMBg3yBqSPQ/live" class="jetzt-live-btn scrollto" target="_blank" id="jetzt-live-btn" style="display:none;">Jetzt Live</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->